<div class="landing-container">
  <div class="container">
    <div class="lading-modal">
      <h1 class="landing-message">Sortei.us</h1>
      <a href="/auth" class="btn-access">Entrar</a>
    </div>
  </div>
</div>