
<h1 class="text-center">Sortei.us</h1>
<form action="/register" method="post">
  <fieldset class="form-group">
    <label for="name">Nome</label>
    <input type="text" class="form-control" name="name">
  </fieldset>
  <fieldset class="form-group">
    <label for="mail">E-mail</label>
    <input type="text" class="form-control" name="email">
  </fieldset>
  <button class="btn btn-success">Estou com sorte</button>
</form>
